/* Strat Variables */
:root {
  --main-color-hover: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
  --main-padding: 100px;
}
/* End Variables */

/* Start Font-Family */
/* open-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v44-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v44-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* End Font-Family */

/* Start Global Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding-inline: 15px;
  margin-inline: auto;
}

/* Small */
@media (width >= calc(768 / 16 * 1rem)) {
  .container {
    width: calc(750 / 16 * 1rem);
  }
}

/* Medium */
@media (width >= calc(992 / 16 * 1rem)) {
  .container {
    width: calc(970 / 16 * 1rem);
  }
}

/* Large */
@media (width >= calc(1200 / 16 * 1rem)) {
  .container {
    width: calc(1170 / 16 * 1rem);
  }
}
/* End Global Styles */

/* Start Header */
.topnav {
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 2;

  .topnav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @media (width <= calc(768 / 16 * 1rem)) {
      padding-block: 15px;
    }

    &::before {
      content: '';
      width: calc(100% - 30px);
      height: calc(1 / 16 * 1rem);
      background-color: #a2a2a2;
      position: absolute;
      bottom: 0;
    }
  }

  .topnav__logo {
    width: calc(125 / 16 * 1rem);
    height: calc(40 / 16 * 1rem);
    display: inline;
  }

  .topnav__nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;

    @media (width >= calc(768 / 16 * 1rem)) {
      gap: 40px;
    }
  }

  .topnav__toggle-menu {
    font-size: calc(22 / 16 * 1rem);
    color: white;

    @media (width >= calc(768 / 16 * 1rem)) {
      display: none;
    }

    &:hover {
      + .topnav__links {
        width: calc(100% - 30px);
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 15px;

        background-color: rgba(0, 0, 0, 0.5);

        .topnav__link {
          padding-inline-start: 20px;
          padding-block: 20px;
        }
      }
    }
  }

  .topnav__links {
    display: none;

    @media (width >= calc(768 / 16 * 1rem)) {
      display: flex;
      gap: 20px;
    }
  }

  .topnav__link {
    padding-block: 30px;
    border-bottom: 1px solid transparent;
    display: block;
    text-transform: uppercase;
    font-size: calc(14 / 16 * 1rem);
    color: white;
    transition: 0.3s;
    position: relative;
    z-index: 5;

    @media (width >= calc(768 / 16 * 1rem)) {
      padding-block: 40px;
    }

    &:hover {
      color: var(--main-color-hover);
      border-color: var(--main-color-hover);
    }
  }

  .topnav__form {
    width: calc(40 / 16 * 1rem);
    height: calc(30 / 16 * 1rem);
    border-left: 1px solid white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .topnav__search-icon {
    font-size: calc(20 / 16 * 1rem);
    color: white;
    transition: color 150ms ease-in-out;
    cursor: pointer;
    &:hover {
      color: var(--main-color-hover);
    }
  }
}
/* End Header */

/* Start Landing */
.landing {
  min-height: 100vh;
  background-color: #1f2021;
  background-image: url('../img/landing.jpg');
  background-size: cover;
  position: relative;
  display: flex;

  .landing__overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
  }

  .landing__content {
    background-color: var(--transparent-color);
    width: 100%;
    padding: 50px;
    color: white;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-self: center;

    @media (width >= calc(768 / 16 * 1rem)) {
      width: 50%;
      justify-content: flex-end;
    }
  }

  .landing__text {
    width: 55ch;

    @media (width >= calc(768 / 16 * 1rem)) {
      margin-inline-start: 40px;
    }
  }

  .landing__title {
    margin-block-end: 20px;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.5;
  }

  .landing__description {
    font-size: 14px;
    line-height: 2;
  }

  .landing__angle {
    padding: 5px 15px;
    border: 2px solid white;
    font-size: 20px;
    color: white;
    display: none;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
    cursor: pointer;
    border-radius: 50%;
    transition: 150ms ease-in-out;
    transition-property: background-color color;

    &:hover {
      background-color: white;
      color: black;
    }

    @media (width >= calc(768 / 16 * 1rem)) {
      display: flex;
    }
  }

  .landing__angle-right {
    right: 30px;
  }

  .landing__angle-left {
    left: 30px;
  }

  .landing__bullets {
    position: absolute;
    top: 96%;
    left: 50%;
    transform: translatex(-50%);
    display: flex;
    gap: 10px;
  }

  .landing__bullet {
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    transition: background-color 150ms ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: var(--main-color-hover);
    }
  }
}
/* End Landing */

/* Start Main Heading */
.heading {
  margin-block-end: 100px;
  text-align: center;

  .heading__title {
    margin-block-end: 70px;
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
    position: relative;

    &::before {
      content: '';
      width: 120px;
      height: 2px;
      position: absolute;
      left: 50%;
      bottom: -38px;
      transform: translatex(-50%);
      background-color: black;
    }

    &::after {
      content: '';
      background-color: white;
      width: 20px;
      height: 20px;
      border: 2px solid black;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      bottom: -47px;
      transform: translatex(-50%);
    }
  }

  .heading__description {
    width: 550px;
    max-width: 100%;
    margin-inline: auto;
    line-height: 2;
    color: #777;
  }
}
/* End Main Heading */

/* Start Services */
.services {
  .services__container {
    padding-block: var(--main-padding);
  }

  .services__items {
    display: grid;
    row-gap: 40px;

    @media (width >= calc(1000 / 16 * 1rem)) {
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      column-gap: 40px;
      row-gap: 60px;
    }
  }
  .services__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (width >= calc(1000 / 16 * 1rem)) {
      flex-direction: row;
      align-items: flex-start;
      column-gap: 50px;
    }
  }

  .services__icon {
    margin-block-end: 20px;
  }

  .services__text {
    text-align: center;

    @media (width >= calc(1000 / 16 * 1rem)) {
      text-align: left;
    }
  }

  .services__title {
    margin-block-end: 30px;
    color: var(--main-color-hover);
  }

  .services__description {
    color: #777;
    line-height: 2;
  }
}
/* End Services */

/* Start Design */
.design {
  height: 990px;
  padding-block: var(--main-padding);
  background-image: url(../img/design-features.jpg);
  background-size: cover;
  color: white;
  position: relative;
  overflow: hidden;

  @media (width >= calc(1000 / 16 * 1rem)) {
    height: auto;
    padding-block: 100px;
  }

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
  }

  .design__image {
    position: absolute;
    bottom: -56px;
    left: 50%;
    transform: translateX(-50%);

    @media (width >= calc(1000 / 16 * 1rem)) {
      position: relative;
      left: 25%;
      bottom: -160px;
    }
  }

  .design__content {
    background-color: var(--transparent-color);
    width: 100%;
    padding: 50px;
    position: absolute;

    @media (width >= calc(1000 / 16 * 1rem)) {
      width: 50%;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  }

  .design__title {
    margin-block-end: 40px;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .design__text {
    padding-block: 15px;
    display: flex;
    gap: 20px;

    &::before {
      content: '\f390';
      font-family: 'Font Awesome 7 Free';
      font-weight: 900;
      font-size: 20px;
      position: relative;
      top: -2px;
    }
  }
}
/* End Design */

/* Start Portfolio */
.portfolio {
  padding-block: var(--main-padding);

  .portfolio__nav {
    margin-block-end: 50px;
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  .portfolio__type {
    padding: 10px;
    cursor: pointer;
    transition: 300ms;
    transition-property: background-color color;

    &:hover {
      background-color: var(--main-color-hover);
      color: white;
    }
  }

  .portfolio__box {
    margin-block-end: 30px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5px;

    @media (width >= calc(768 / 16 * 1rem)) {
      grid-template-columns: repeat(2, minmax(50%, 1fr));
    }

    @media (width >= calc(1200 / 16 * 1rem)) {
      grid-template-columns: repeat(4, minmax(25%, 1fr));
    }
  }

  .portfolio__item {
    position: relative;
    overflow: hidden;

    &:hover {
      .portfolio__image {
        transform: rotate(3deg) scale(1.1);
      }

      .portfolio__info {
        bottom: 0;
      }
    }
  }

  .portfolio__image {
    max-width: 100%;
    transition: 300ms;
  }

  .portfolio__info {
    background-color: white;
    width: 100%;
    padding: 20px;
    font-weight: 400;
    position: absolute;
    left: 0;
    bottom: -100%;
    transition: 200ms;

    span {
      display: block;
      margin-block-start: 10px;
      color: var(--main-color-hover);
    }
  }

  .portfolio__button {
    background-color: var(--main-color-hover);
    width: fit-content;
    padding: 15px 20px;
    margin-inline: auto;
    color: white;
    text-transform: uppercase;
    display: block;
    transition: 150ms;

    &:hover {
      background-color: rgba(25, 200, 250, 0.75);
    }
  }
}
/* End Portfolio */

/* Start Video */
.video {
  position: relative;
  .video__gif {
    width: 100%;
  }

  .video__overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
  }

  .video__content {
    background-color: var(--transparent-color);
    width: 100%;
    height: 100%;
    padding-block: 50px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    @media (width >= calc(768 /16 * 1rem)) {
      height: auto;
    }
  }

  .video__title {
    margin-block-end: 30px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .video__info {
    margin-block-end: 30px;
  }

  .video__button {
    background-color: black;
    padding: 10px 20px;
    color: white;
    text-transform: uppercase;
    transition: 150ms;

    &:hover {
      background-color: rgb(0, 0, 0, 0.75);
    }
  }
}
/* End Video */

/* Start About */
.about {
  .about__container {
    padding-block-start: var(--main-padding);
    overflow: hidden;
  }

  .about__image {
    max-width: 100%;
    margin-block-start: -60px;
    position: relative;
    left: 50%;
    bottom: -60px;
    transform: translateX(-50%);

    @media (width >= calc(768 /16 * 1rem)) {
      margin-block-start: -115px;
      bottom: -115px;
    }
  }
}
/* End About */

/* Start Statistics */
.statistics {
  padding-block: var(--main-padding);
  background-image: url(../img/stats.png);
  background-size: cover;
  position: relative;
  text-align: center;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
  }

  .statistics__container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }

  .statistics__item {
    background-color: var(--transparent-color);
    padding: 50px;
    color: white;
    flex-basis: 100%;

    @media (width >= calc(768 / 16 * 1rem)) {
      flex-basis: 50%;
    }

    @media (width >= calc(992 / 16 * 1rem)) {
      flex-basis: 25%;
    }
  }

  .statistics__item-icon {
    width: 40px;
    height: 40px;
    margin-block-end: 30px;
    margin-inline: auto;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .statistics__item-number {
    font-size: 50px;
    font-weight: 700;
    margin-block-end: 20px;
  }

  .statistics__item-name {
    font-size: 14px;
  }
}

/* Start Skills */
.skills {
  padding-block: var(--main-padding);

  .skills__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (width >= calc(992 / 16 * 1rem)) {
      flex-direction: row;
    }
  }

  .skills__box {
    @media (width >= calc(992 / 16 * 1rem)) {
      flex-basis: 45%;
    }
  }

  .skills__title {
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-block-end: 30px;
  }

  .skills__text {
    margin-block-end: 60px;
    color: #777;
    line-height: 2;
    text-align: center;
  }

  .skills__person {
    margin-block-end: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    @media (width >= calc(992 / 16 * 1rem)) {
      flex-direction: row;
      gap: 50px;
    }
  }

  .skills__person-image {
    width: 100px;
    border-radius: 50%;
  }

  .skills__person-text {
    border-bottom: 1px solid #ccc;
    line-height: 1.8;
  }

  .skills__person-name {
    margin-block-end: 10px;
    font-size: 14px;
    color: #777;
    text-align: right;
  }

  .skills__bullets {
    margin-block-end: 50px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .skills__bullet {
    width: 14px;
    height: 14px;
    border: 1px solid #777;
    border-radius: 50%;

    &:hover {
      background-color: var(--main-color-hover);
    }
  }

  /* ---------------------- */

  .skills__prog-holder {
    margin-block-end: 40px;
  }

  .skills__prog-title {
    margin-block-end: 15px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .skills__prog {
    background-color: #dedadc;
    height: 30px;
  }

  .skills__progress {
    background-color: var(--main-color-hover);
    height: 100%;
    display: block;
    position: relative;

    &::before {
      content: attr(data-progress);
      background-color: black;
      width: 40px;
      padding-block: 5px;
      border-radius: 4px;
      color: white;
      text-align: center;
      position: absolute;
      left: 100%;
      top: -46px;
      transform: translateX(-50%);
    }

    &::after {
      content: '';
      position: absolute;
      border-width: 10px;
      border-style: solid;
      border-color: black transparent transparent;
      left: 100%;
      top: -60%;
      transform: translateX(-50%);
    }
  }
}
/* End Skills */

/* Start Quote */
.quote {
  background-image: url(../img/quote.jpg);
  background-size: cover;
  padding-block: 100px;
  color: white;
  text-align: center;
  position: relative;

  &::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  .quote__container {
    position: relative;
  }

  .quote__text {
    margin-block-end: 20px;
    font-size: 30px;
    display: block;
    position: relative;

    &::before,
    &::after {
      font-family: 'Font Awesome 7 Free';
      font-weight: 900;
    }

    &::before {
      content: '\f10d';
    }

    &::after {
      content: '\f10e';
    }
  }
}
/* End Quote */

/* Start Pricing */
.pricing {
  .pricing__container {
    padding-block: var(--main-padding);
    text-align: center;
  }

  .pricing__plans {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    margin-block-end: 50px;
  }

  .pricing__plan {
    background-color: #fcfcfc;
  }

  .pricing__head {
    padding: 40px 20px;
    border-block: 1px solid var(--main-color-hover);
  }

  .pricing__title {
    margin-block-end: 20px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .pricing__price {
    font-size: 60px;
    font-weight: 700;

    &::before {
      content: '$';
      font-size: 25px;
      font-weight: 400;
      position: relative;
      top: -40px;
      right: 15px;
    }

    &::after {
      content: '/Mo';
      font-size: 20px;
      position: relative;
      left: 15px;
    }
  }

  .pricing__features {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pricing__feature {
    padding: 20px;

    &:not(:last-child) {
      border-block-end: 1px solid var(--main-color-hover);
    }
  }

  .pricing__footer {
    padding-block: 30px;
    border-block-start: 1px solid var(--main-color-hover);
  }

  .pricing__buy-link {
    padding: 20px;
    border: 1px solid var(--main-color-hover);
    display: inline-block;
  }

  .pricing__text {
    margin-block-end: 20px;
    font-size: 20px;
  }

  .pricing__link {
    padding: 15px 30px;
    background-color: var(--main-color-hover);
    display: inline-block;
    color: white;
    transition: 150ms;

    &:hover {
      background-color: rgba(25, 200, 250, 0.75);
    }
  }
}
/* End Pricing */

/* Start Subscribe */
.subscribe {
  padding-block: var(--main-padding);
  background-image: url(../img/subscribe.jpg);
  background-size: cover;
  color: white;
  position: relative;

  &::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  .subscribe__container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;

    @media (width >= calc(992 / 16 * 1rem)) {
      flex-direction: row;
    }
  }

  .subscribe__form {
    width: 500px;
    max-width: 100%;
    display: flex;
    position: relative;
  }

  .subscribe__icon {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
  }

  .subscribe__email {
    width: calc(100% - 130px);
    background: none;
    padding: 20px 20px 20px 60px;
    border: 1px solid white;
    border-right: none;
    caret-color: var(--main-color-hover);

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: white;
    }
  }

  .subscribe__submit {
    width: 130px;
    padding: 10px 20px;
    background-color: var(--main-color-hover);
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    border-left: none;
    cursor: pointer;
    transition: 150ms;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: rgba(25, 200, 250, 0.75);
    }
  }

  .subscribe__text {
    margin-block-start: 30px;
    line-height: 2;

    @media (width >= calc(992 / 16 * 1rem)) {
      margin-block: 0px;
      margin-inline-start: 50px;
    }
  }
}
/* End Subscribe */

/* Start Contact */
.contact {
  .contact__container {
    padding-block: var(--main-padding);
  }

  .contact__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (width >= calc(768 / 16 * 1rem)) {
      flex-direction: row;
    }
  }

  .contact__form {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .contact__form-inputs {
    padding: 20px;
    border: 1px solid #ccc;

    &:focus {
      outline: none;
    }

    &:nth-child(3) {
      height: 200px;
    }
  }

  .contact__submit {
    background-color: var(--main-color-hover);
    padding: 20px;
    border: none;
    text-transform: uppercase;
    color: white;
    align-self: flex-end;
    cursor: pointer;
    transition: 150ms;

    &:hover {
      background-color: rgba(25, 200, 250, 0.75);
    }
  }

  .contact__texts {
    text-align: center;
    flex-basis: 25%;
    order: -1;

    @media (width >= calc(768 / 16 * 1rem)) {
      text-align: left;
      order: 0;
    }
  }

  .contact__text {
    margin-block-end: 30px;

    @media (width >= calc(768 / 16 * 1rem)) {
      margin-block-end: 80px;
    }
  }

  .contact__title {
    margin-block-end: 30px;
    font-weight: normal;
    text-transform: uppercase;
  }

  .contact__description {
    color: #777;
    line-height: 2;
  }
}
/* End Contact */

/* Start Footer */
.footer {
  padding-block: calc(var(--main-padding) / 2);
  background-image: url(../img/subscribe.jpg);
  background-size: cover;
  color: white;
  position: relative;

  &::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  .footer__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .footer__texts {
    text-align: center;
  }

  .footer__text {
    padding: 20px;
    border-bottom: 1px solid white;
    font-size: 22px;
    text-transform: uppercase;
  }

  .footer__icons {
    padding: 25px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .footer__copyright {
    span {
      color: var(--main-color-hover);
      font-weight: 700;
    }
  }
}
/* End Footer */
